*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.contenedor {
    position: sticky;
    top: 0;
    z-index: 30;
}

.encabezado {
    font-family: sans-serif;
    min-width: 100%;
    height: 70px;
    display: inline-flex;
    background-color: #0009;
    color:#f4f4f2 ;
    position: absolute;
    z-index: 30;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #29ffc9;
}

.encabezado__titulo {
    font-size: 33px;
    margin: 20px;
}

.encabezado__contorno {
    color: #1ceb25;
}

.encabezado__botones {
    text-decoration: none;
    box-sizing: border-box;
    padding: 13px 0;
    padding-left: 1px;
    font-size: 20px;
    margin: 10px;
    color: #f4f4f2;
    transition: color .20s, background-color .30s, outline .40s, box-shadow .40s;
}

.encabezado__botones:hover {
    background-color: #243a69;
    border-radius: 20px;
    color: #1ceb25;
    outline: 2px solid #06d9b6;
    box-shadow: 0 0 15px white;
}

.boton--inicio {
    text-transform: uppercase;
    background-color: #1ceb25;
    border-radius: 20px;
    color: #000;
}

.boton--inicio:hover{
    background-color: #1ceb25;
    border-radius: 20px;
    color: #000;
    outline: 2px solid #f4f4f2;
}

.nav-responsive{
    display: none;
    font-size: 25px;
}

.imagen--coach {
    position: relative;
    z-index: 10;
    height: 1300px;
    max-width:  100%;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a47e0139-1571-40ec-803b-00386c399bae/dh0l75u-3b97133d-0c62-4146-88d7-0bc7c1439ff0.png/v1/fill/w_1280,h_801,q_80,strp/triumph_of_rocky_balboa_by_misticon_dh0l75u-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODAxIiwicGF0aCI6IlwvZlwvYTQ3ZTAxMzktMTU3MS00MGVjLTgwM2ItMDAzODZjMzk5YmFlXC9kaDBsNzV1LTNiOTcxMzNkLTBjNjItNDE0Ni04OGQ3LTBiYzdjMTQzOWZmMC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.CxC5emHeVN8TR0srZM7kIa-v45pkmMpJyIM_s6Q24SQ);
}


.contenedor1 {
    box-shadow: 0 0 45PX #1ceb25;
    position: absolute;
    z-index: 20;
    top: 200px;
    left: 500px;
    height: 100%;
    width: 50%;
    background-color: #eee9;
}

.contenedor1:HOVER {
    outline: 5px solid #06d9b6;
}

.contenedor__titulo {
    text-align: center;
    font-size: 50px;
    color: red;
}

.contenedor__texto {
    padding: 8px;
    font-size: 22px;
}

.contenedor--1 {
    text-transform: uppercase;
    font-size: 35px;
    position: relative;
    z-index: 20;
    top: -200px;
    left: 270px;
    color: #243a69;
}

.contenedor__imagen{
    position: relative;
    z-index: 20;
    top: 10PX;
    left: 150px;
    width: 400px;
    height: 280px;
}

.pie {
    text-transform: lowercase;
    max-width: 100%;
    background-color: #000;
}

.final {
    display: inline-flex;
    gap: 90px;
    color: white;
    margin-left: 370px;
    margin-top: 40px;
}

.final--1 {
    border-top: 1px solid white;
    height: 80px;
}

.final--copi {
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 670px;
}
